@import '/src/utils/utils';

.buttonArea {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.applicationList {
    display: flex;
    justify-content: center;
    align-items: center;
}
