@import '/src/utils/utils';

.buttonArea {
    display: flex;
    gap: 40px;
    margin: 120px 0 30px 5%;

    button {
        display: flex;
        gap: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        // background: linear-gradient(to right, $navy100 55%, white);
        background-color: $navy100;
        color: white;
        cursor: pointer;
        font-size: 1rem;
    }
}

.applicationList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 90%;
}
