@import '/src/utils/utils';

.buttonArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    .area_title {
        font-size: 2rem;
        font-weight: 600;
        color: $navy100;
    }

    .buttonBox {
        display: flex;
        gap: 20px;
    }
}

.container {
    margin: 120px 0 30px 5%;
    width: 90%;

    button {
        display: flex;
        gap: 20px;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: $navy100;
        color: white;
        cursor: pointer;
        font-size: 0.8rem;
    }

    button:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.question {
    margin: 20px 0;
    border-radius: 5px;
    line-height: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.divider {
    border: 0.5px solid $navy100;
    width: 50%;
}

.bold {
    font-weight: 700;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentBox {
    border: 1px solid $navy100;
    border-radius: 10px;
    width: calc(50% - 40px);
    padding: 20px;
    min-height: 200px;
}

.answer {
    background-color: $navy100;
    color: white;
    border-radius: 10px;
    width: calc(50% - 40px);
    padding: 20px;
    min-height: 200px;
    line-height: 1.8rem;
}
