@import '/src/utils/utils';

.container {
    display: flex;
    flex-direction: column;
    margin: 188px 5%;
    align-items: center;
    gap: 20px;
    height: 100%;

    text-align: center;
    table {
        width: 100%;
    }
}
