@import '/src/utils/utils';

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10% 5%;
    border: 1px solid $navy100;
    padding: 50px;
}

.text {
    display: flex;
    gap: 10px;

    input {
        margin: 0;
    }
}
