$white: #ffffff;

$black: #000000;
$black100: #333d4b;

$gray200: #999999;
$gray100: #c8c8c8;
$gray50: #e5e5e5;
$gray30: #f1f1f1;
$gray20: #f5f5f5;
$gray10: #f8f8f8;

$blue100: #255bb9;
$blue80: #0075c1;
$blue50: #008cd6;
$blue30: #97b5ea;
$blue10: #f9fdff;

$red100: #ff4949;
$red50: #ffecec;

$orange100: #ffb049;

$navy100: #3e3582;
