@import '/src/utils/utils';

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 80.5px;
    left: 0;
    background-color: $navy100;
    color: white;
    z-index: 998;
}

.menuContainer {
    padding: 24px 0;
}

.menu {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    list-style: none;
    cursor: pointer;

    &:hover {
        background-color: gray;
    }

    li {
        padding: 4px 24px;
    }
}
